<body>
<!-- Main content -->
<div class="main-content">
  <!-- Page content -->
  <div class="container-fluid mt-5">
    <div class="row mt-5">
      <div class="col">
        <%- include(`../partials/bravo-list`, {bravos: bravos}) -%>
      </div>
    </div>
    <!-- Footer -->
    <% include ../partials/footer %>
  </div>
</div>
<!-- Include scripts -->
<% include ../partials/scripts %>
</body>

