<link rel="stylesheet" href="/mvp/users.css">
<%if (users.length > 0) { %>

    <!-- UI example: https://dribbble.com/shots/2436821-Shot-088-Leaderboard -->
    <div class="card">
        <!--<%if (typeof title !== 'undefined') { %>-->

        <!--<h1><%= title %></h1>-->
        <!--<% } %>-->

        <div class="card-body">
            <table class="table user-table mb-0">
                <tbody>

                <% users.forEach(function (user, i) {%>
                <tr class="">
                    <td class="text-right align-middle"><%= i %> </td>
                    <td class="text-justify align-middle">
                        <!--<img class="rounded-circle" style="width:35px;" src="//ui-avatars.com/api/?name=<%= user.name %>&background=0D8ABC&color=fff" alt=""></td>-->
                    <td class="text-left align-middle"><a href="/ui/airtable/points/<%= user.id %>"><%= user.name %></a></td>
                    <td class="text-right align-middle"><%= user.points %></td>
                </tr>
                <% })%>
                </tbody>
            </table>
        </div>
    </div>

<% } %>
<%if (users.length == 0) { %>
<h3>没有找到任何结果哦，试试看输入"张"</h3>

<% } %>

